html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

article {
  padding-left: 10vw;
  padding-right: 10vw;
}

p {
  margin-bottom: 1rem !important;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #ccc;
}

blockquote > p {
  padding-left: .6rem;
}

.image img {
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: .2rem;
}

.title.is-dark {
  color: whitesmoke;
}

#contentArea.content-is-dark blockquote {
  border-left: 5px solid #2dcc0b;
}

.title.is-grey {
  color: whitesmoke;
}
#contentArea.content-is-grey figure.image img {
  box-shadow: 10px 10px 5px #1b1a1a;
  -moz-box-shadow: 10px 10px 5px #1b1a1a;
  -webkit-box-shadow: 10px 10px 5px #1b1a1a;
  -khtml-box-shadow: 10px 10px 5px #1b1a1a;
}

.title.is-light {
  color: #333333;
}
#contentArea.content-is-light figure.image img {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
